@use "reset";
@use "config";
@use "utilities";

// For styles used on *every* page 
html {
  background-color: var(--dark);
}

body {
  @extend %body-font;
  @extend %flex-column;
  background-color: var(--light);
  color: var(--dark);
  margin: 0 auto;
  max-width: 60rem;
  font-size: calc(1rem + 0.3vw);
}

main {
  flex: 1;
}

.logo {
  @extend %no-decor;
  font-size: calc(2rem + 2vw);
  color: unset;
}

#skiplink {
  @extend %visually-hidden;
  background-color: var(--body-light);
  border: 1px solid;
  padding: 1em;
  transition-duration: 0.5s;

  &:focus {
    left: -1%;
    transition-duration: 0.5s;
  }
}

#site-footer {
  @extend %text-center;
  @extend %page-effect;
  padding: 1rem;
}