// Layout
%margin-bottom-1 {
    margin-bottom: 1rem;
}

%border-thin {
    border-width: 1px;
}

%list-style-none {
    list-style-type: none;
    padding: 0;
}

%flex {
    display: flex;
}

%flex-column {
    @extend %flex;
    flex-direction: column;
}

%flex-wrap {
    flex-wrap: wrap;
}

%flex-list {
    @extend %flex;
    @extend %list-style-none;
    @extend %flex-wrap;
}

%justify-center {
    justify-content: center;
}

%align-center {
    align-items: center;
}

%space-between {
    justify-content: space-between;
}

%space-around {
    justify-content: space-around;
}

%visually-hidden {
    position: absolute;
    left: -1000%;
}

// Typography
%monospace {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

%body-font {
    font-family: system-ui, serif;
}

%text-right {
    text-align: right;
}

%text-center {
    text-align: center;
}

%small-caps {
    font-variant: small-caps;
}

%lowercase {
    text-transform: lowercase;
}

%prepend-slash {
    &::before {
        content: "/";
    }
}

%no-decor {
    text-decoration: none;
}

%hover-no-decor {
    &:hover {
        @extend %no-decor;
    }
}

%underline-hover {

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

// Make an element float on top of everything else
%front-and-center {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

// Site-specific
%page-effect {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .2) 50%, rgba(0, 0, 0, .05) 60%), linear-gradient(-5deg, rgba(0, 0, 0, .1), transparent 3.5em);
    background-size: 100% 0, 100%;
}