@use "utilities";
@use "base"; // Use here so that all extends compile properly

h1 {
  @extend %visually-hidden;
}

h2, h3 {
  @extend %text-center;
}

section {
  @extend %page-effect;
  padding: 1rem;
  flex: 1;
}

.cover {
  @extend %text-center;
  @extend %page-effect;
  padding: 1rem;
}

.name {
  font-size: calc(4rem + 2vw);
}

.main-menu {
  @extend %list-style-none;
}

.social-links {
  @extend %list-style-none;
}