---
import Base from "../layouts/Base.astro";
import Post from "../components/Post.astro";
const pageTitle = "Blog";
const posts = await Astro.glob("./posts/*.md");
---

<Base pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      posts.map((post) => (
        <Post url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Base>
