---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import Post from "../components/Post.astro";
const pageTitle = "Blog";
const posts = await getCollection("posts");
---

<Base pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      posts.map((post) => (
      <Post url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</Base>
