<a id="skiplink" href="#main-content" aria-label="Skip Link">Skip to Content</a>

<style>
  #skiplink {
    position: absolute;
    top: -100%;
    border: 0.1rem solid;
    padding: 0.25rem 1rem;
    background: white;
  }
  #skiplink:active,
  #skiplink:focus {
    top: unset;
  }
</style>
