---
const { tags, path } = Astro.props;
---

<ul class="tags">
  {
    tags.map((tag) => (
      <li>
        <a class="tag" href={`/${path}/tags/${tag}`}>
          #{tag}
        </a>
      </li>
    ))
  }
</ul>
