---
import Base from "../layouts/Base.astro";
const { frontmatter } = Astro.props;
---
<Base pageTitle={frontmatter.title}>
<p>{frontmatter.description}</p>
<p>Written by {frontmatter.author}</p>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<slot />
</Base>